body {
  height: 100%;
  width: 100%;
}

.carousel-top {
  height: 60vh;
  margin-bottom: 5vh;
}

img {
  margin-bottom: 2vh;
}

.overflow-hidden {
  overflow: hidden;
}

.width100 {
  width: 100%;
}
